.gallery {
	@include flex_grid(3);
	padding-top: 0px;

	@media screen and (max-width: 1199px) {
		display: none;
	 
	}

}

.gallery__items {
	position: relative;
}

.gallery__photo {
	display: block;
}
.gallery__descr{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
    color: $pure-white-logo-color;

    height: 70px;
    @include flex_centering(inline-flex);
	background-color: rgba(47, 48, 58, 0.8);
    
}