.logo {
	font-family: "Raleway", sans-serif;
	font-size: 24px;
	line-height: 1.19;
	text-decoration: none;
	color: $accent-color;

}
.header__logo {
	color: $pure-black-logo-color;
}

.footer__logo {
	color: $pure-white-logo-color;
}